
<%= link_to 'Create New Collection', new_collection_path %>
<br>
<br>
<h2>My Collections</h2>
<%  @current_user.collections.each do |collection| %>
<%= link_to collection.name, collection_path(collection.id) %><br>
<% end %>
