body{
  font-family: Lato;
  // background-color: green;
  // display:flex;
}
.logoimage{
  width: 220px;
  margin-left: 50px;
  margin-top:25px;

}
.welcomText h4{
  float:right;
  // display:flex;
  position: static;
  margin:-20px 55px 0px 5px;

}

.header{
background-color: #1abc9c;
height: 200px;
margin: 0px;

}
.profile{

}

.headerImage {
  display:inline;
}

#profileImage img {
  border-radius: 50%;
  margin-right: 60px;
  margin-top: 50px;
  float: right;
  display:flex;
}




.navbar {
    overflow: hidden;
    background-color: #212121;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    // display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}





/* Active/current link */
.navbar a.active {
    background-color: #666;
    color: white;
}
.row {
    // display: -ms-flexbox; /* IE10 */
    display: flex;
    // -ms-flex-wrap: wrap; /* IE10 */
    // flex-wrap: wrap;
    flex-direction: row;

}

/* Sidebar/left column */
.side {
    // -ms-flex: 30%; /* IE10 */
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
    // width:300px;

}

.movieSearch{
  color: white;
}
// .movieSearch input{
//   display:inline;
// }

/* Main column */
.main {
    // -ms-flex: 70%; /* IE10 */
    // flex: 70%;
    // display: flex;
    background-color: #333;
    padding: 20px;
    // width:800px;

}
.searchInput{
  // float: right;
  padding: 10px;
  // border: none;
  margin-top: 10px;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 17px;
  margin-left: 50px;
  width: 228px;
}



.footer {
    padding: 20px;
    text-align: center;
    background: #212121;
    display:fixed;
    color: #fff;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  // background-color: #fff;
  margin: 20px 50px;
}
.item{
  background-color: white;
  // border-radius: 5px;
  padding: 20px;
  // opacity: 0.8;
  // font-size: 150%;
}




////////////////////
.loginContainer{
  // background-color:red;
  width: 500px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  justify-content: center;
  align-content: center;

}
.loginWrapper{
  margin-left: auto;
  margin-right: auto;


}
.inputBox{
  justify-content: center;

width:400px;
height:30px;
padding: 12px;
border: none;
border-radius: 4px;
margin: 5px 0;
opacity: 0.85;
// display: inline-block;
font-size: 17px;
line-height: 20px;
text-decoration: none;
border: 1px solid grey;
margin-left: auto;
margin-right: auto;
}

.inputBoxlogin {
background-color:#1abc9c;
color: white;
width:430px;
height:50px;
padding: 12px;
margin: 5px 0;
// display: inline-block;
font-size: 17px;
line-height: 20px;
text-decoration: none;
border-radius: 4px;
margin-left: auto;
margin-right: auto;

}
.loginfont{
font-size: 24px;
font-family: "Helvetica";
font-weight: normal;
color:#212121;
margin-top: 50px;
line-height: 20px;
margin-left: auto;
margin-right: auto;
// background-color:yellow;
text-align: center;
padding: 15px;
margin-top: 0px;
}

.profileText{

  font-size: 17px;
  line-height: 20px;
  font-family: "Helvetica";
  margin: 10px 0;
}

.row {
  display: flex;
  // width: 60%;
  margin: 0px auto;
}
