body{
  font-family: Lato;
  margin: 0px;
  // background-color: green;
  // display:flex;
}
.logoimage{
  width: 220px;
  margin-left: 50px;
  margin-top:25px;

}
.welcomText h4{
  float:right;
  color:white;
  position: static;
  margin:-20px 55px 0px 5px;

}


.header{
  background: url(http://localhost:5000/assets/background-54c3dde9fdce4adc90fb69d22a2ed574ad2fe7dbc7358f11dd31f89f6731566d.jpg);
background-repeat: no-repeat;
height: 200px;
margin: 0px;
z-index: -1;
}
#header{
  background-color: #212121;
}


.headerImage {
  display:inline;
}

#profileImage img {
  border-radius: 50%;
  margin-right: 60px;
  margin-top: 50px;
  // margin-bottom: 20px;
  float: right;
  display:flex;
  // border: 2px solid DodgerBlue;
}




.navbar {
    overflow: hidden;
    background-color: #0e1010;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    // margin-bottom: 5px;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    // display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}





/* Active/current link */
.navbar a.active {
    background-color: #666;
    color: white;
}


.footer {
    padding: 20px;
    text-align: center;
    background: #212121;
    display:fixed;
    color: #212121;
}
.footer h4 a{
  color: DodgerBlue;
}

////////////////////
.loginContainer{
  // background-color:red;
  width: 500px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  justify-content: center;
  align-content: center;

}
.loginWrapper{
  margin-left: auto;
  margin-right: auto;


}
.inputBox{
  justify-content: center;

width:400px;
height:30px;
padding: 12px;
border: none;
border-radius: 4px;
margin: 5px 0;
opacity: 0.85;
// display: inline-block;
font-size: 17px;
line-height: 20px;
text-decoration: none;
border: 1px solid grey;
margin-left: auto;
margin-right: auto;
}

.inputBoxlogin {
background-color:DodgerBlue;
color: white;
width:430px;
height:50px;
padding: 12px;
margin: 5px 0;
// display: inline-block;
font-size: 17px;
line-height: 20px;
text-decoration: none;
border-radius: 4px;
margin-left: auto;
margin-right: auto;

}
.loginfont{
font-size: 24px;
font-family: "Helvetica";
font-weight: normal;
color:#212121;
margin-top: 50px;
line-height: 20px;
margin-left: auto;
margin-right: auto;
// background-color:yellow;
text-align: center;
// padding: 15px;
margin-top: 0px;
}

.profileText{

  font-size: 17px;
  line-height: 20px;
  font-family: "Helvetica";
  margin: 10px 0;
}

///////////////////////////////////////////////////////////////



.container{
  display: flex;
  background-color: #212121;
  max-width:100%;
  margin:0px;
}


.rightColumn{
  display: block;
  background-color: #212121;
  width:80%;
    // padding:30px;
}
.searchColumn{
width:100%;
background-color: rgba(240, 240, 240, 0.2);
// border: 1px solid DodgerBlue;
// border-radius: 10px;
border-radius: 10px 0px 0px 10px;

height: 80px;
}
.searchInput{
  margin-top:20px;
  margin-left:80px;
  width: 230px;
  height:30px;
  font-size: 13pt;
  padding-left:10px;
}

.appList{
  width:100%;
  background-color: #212121;
  margin: 0px auto;
}



.movieList{
  width:90%;
  background-color: #212121;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr 1fr 1fr 1fr ;
  grid-row-gap:2rem;
  grid-column-gap: 1rem;
  margin: 0px auto;
  padding:30px 0px;
}

.moviePreview{
background-color: #212121;
margin: 0px auto;
}

.overlaycontainer {
  position: relative;
  width: 100%;
}


.image{
  display: block;
  width: 250px;
  height: 376px;
  // margin: 0px auto;
  border-radius:8px;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(10, 10, 10, 0.8) ;
  border-radius:8px;
  border:1px solid DodgerBlue;

}


.overlaycontainer:hover .overlay {
  opacity: 1;
}

.text {
  width:80%;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom:50px;
}






///////////////////////////////////////

.leftColumn{
  background-color: #212121;
  width:20%;
  padding: 0px 20px;

}
.filterInfoColumn{
  border: 1px solid DodgerBlue;
  border-radius: 10px;
  color: white;
  padding: 10px 20px 20px 20px;
}


.filterTitle{
  color: DodgerBlue;
}

.footer{
  background-color: lightgrey;
  max-width: 100%;
  height:200px;
  bottom: 0;
  // position: fixed;
  margin-bottom:0px;
}

.removeBtn button{
  margin: 10px auto;
  width:250px;
  padding: 8px 20px;
  background-color: rgba(240, 240, 240, 0.1);
  font-size: 13px;
  color: white
}

.removeBtn:hover button{
  background-color: rgba(0, 0, 18, 0.1);
  color:DodgerBlue;
}
