

.movieImage{
  background-color: White;
  padding: 5px;
  // border: 5px solid red;
}
.movieInfo{
  background-color: #e0e0e0;
  padding: 5px;
  // border: 5px solid red;
  padding-left: 30px;
}


.row {
  display: flex;
}



///////////////////////////////
